dest/
.settings/
log/
bin/
build/

OWNServer/conf/log4j.xml
OWNServer/conf/emuNew.xml

#OS junk files
[Tt]humbs.db
*.DS_Store


#OWNPlugin-Map/bin
#OWNEngine-Emulator/bin
#OWNPlugin-Map/.settings
#OWNServer/log
#OWNEngine-Emulator/dest
#OWN-SDK/dest
#OWNPlugin-Remote/dest
#OWNPlugin-System/dest
#OWNServer/bin

.gradle
#OWN-SDK/build
#OWNServer/build
