# OWN Server

#OS junk files
[Tt]humbs.db
*.DS_Store

#Eclispe files
.settings/
bin/
.classpath
.project

#Gradle files
.gradle
build/

#Test files
dest/
log/
OWNServer/conf/log4j.xml
OWNServer/conf/emuNew.xml
